In [31]:
from embedding_helper import *
from data_handler import *
import os


DIMS = 50
CUTOFF = 0.00002

# loading embeddings
# entity_vec, relations_vec = load_embeddings(dims=DIMS)
# entity_dict, relations_dict = load_ids()

# male_vector, female_vector = get_gender_vectors(entity_vec, entity_dict, DIMS)

# getting occupation sets
REGION_NAMES = ["India","Russia","Arabia"]
REGION_FOLDER_NAMES = ["Indian","Russian", "Arabian"]

occupation_sets_region_wise = []

for i,region in enumerate(REGION_NAMES):
    print("Region : ",region)
    region_folder = REGION_FOLDER_NAMES[i]
    entity_path = os.path.join("knowledge_graphs", region_folder, "entities_labels.tsv")
    property_path = os.path.join("knowledge_graphs", region_folder, "properties_labels.tsv")
    triplets_path = os.path.join("knowledge_graphs", region_folder, region+"_final.tsv")

    # getting occupation sets
    triplets, entity_labels, property_labels = load_data(entity_path, property_path, triplets_path)
    print(triplets[triplets["relation"]=="'religion'"]["tail"].value_counts()[:10].index.tolist())

Region :  India
["'Hinduism'", "'Islam'", "'Catholic Church'", "'Jainism'", "'Buddhism'", "'atheism'", "'Shia Islam'", "'Sunni Islam'", "'Sikhism'", "'Hindu'"]
Region :  Russia
["'Eastern Orthodoxy'", "'Islam'", "'Eastern Orthodox Church'", "'Sunni Islam'", "'Russian Orthodox Church'", "'atheism'", "'Judaism'", "'Catholic Church'", "'Christianity'", "'Buddhism'"]
Region :  Arabia
["'Islam'", "'Sunni Islam'", "'Shia Islam'", "'Twelvers'", "'Catholic Church'", "'Judaism'", "'Usuli'", "'Muslim'", "'Chaldean Catholic Church'", "'Hanbalism'"]

In [25]:
get_entity_id(entity_labels, "'Hinduism'")

['Q9089']

In [26]:
property_labels[property_labels["name"]=="'religion'"]

       id        name
447  P140  'religion'

In [34]:
entity_labels[entity_labels["name"]=="'Islam'"]

              id     name
8615    Q1674068  'Islam'
12394       Q432  'Islam'
19719  Q36909358  'Islam'
22028  Q27522394  'Islam'